<div class="col-lg-2">
        <section ng-controller="mySpaceNavbarController">
                <div ng-include="'app/mySpace/mySpaceNavbar.html'"></div>
        </section>
</div>

<div class="col-lg-8">
        <section ng-controller="mySpaceMainController">
                <div class="panel panel-warning">
                        <div class="panel-heading">Bonjour {{login}}</div>
                        <div class="panel-body">
                                <p>Bienvenue dans votre cloud personnel</p>
                                <h3>{{currentRootMySpace.name}}</h3>
                        </div>
                </div>
                <div ng-if="currentRootMySpace.id">

                        <!-- Barre de progression 1 -->
                        <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{getPourcentage}}%">
                                        {{getPourcentage}}%
                                </div>
                        </div>

                        <span class="control-fileupload">
                                <label for="fileInput">Choose a file :</label>
                                <input type="file" file-model="myForm.multipartFiles[0]">
                                <button type="button" ng-click="doUploadFile()">Upload</button>
                        </span>
                </div>
                <div>
                        <table class="table table-hover">
                                <thead>
                                        <tr>
                                                <th>name</th>
                                                <th>date</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr ng-repeat="c in currentRootMySpace.myFilesDto">
                                                <td><a href="#"
                                                                ng-click="downloadingMyFile(c.id, c.name)">{{c.name}}</a>
                                                </td>
                                                <td>{{c.uploadDate}}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </section>
</div>

<div class="col-lg-2">
        <section ng-controller="mySpaceDescriptionController">
                <div ng-include="'app/mySpace/mySpaceDescription.html'"></div>
        </section>
</div>