Création jeu d'essai <button ng-click="getDataTest()" type="button" class="btn">ici</button>
<br/>
{{str.return}}
<br/>
<h3>Part 1</h3>
Afficher tous les users <button ng-click="getAllUsersTest()" type="button" class="btn">ici</button>
<br/>

<table class="table">
        <thead>
            <tr>
                <td>login</td>
                <td>email</td>
                <td>infos</td>
                <td>send to service</td>
                <td>send to service & go to test2</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in myUsers track by $index">
                <td>{{myUsers[$index].login}}</td>
                <td>{{myUsers[$index].email}}</td>
                <td>
                    <button ng-click="getContents($index)" type="button" class="btn">Voir {{$index}}</button>
                </td>
                <td>
                    <button ng-click="getMyUserToService($index)" type="button" class="btn">Ici</button>
                </td>
                <td>
                    <button ng-click="getMyUserToServiceGoToTest2($index)" type="button" class="btn">Ici</button>
                </td>                
            </tr>
        </tbody>
</table>
<p>Droits</p>
<ul ng-repeat="r in myRoles">
        <li>
            {{r.name}}
        </li>
</ul>
<p>Espaces</p>
<ul ng-repeat="s in mySpaces">
        <li>
            {{s.name}}
        </li>
</ul>
Détruire currentUser<button ng-click="destroyMyUser()" type="button" class="btn">Ok</button>
<br/>
<hr>
<h3>Part 2</h3>
<div ng-if="currentUser.login==null">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" role="form" style="display: block;">    
                                    <div class="form-group">
                                        <input ng-model="credential.login" type="text" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="credential.password" type="password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input ng-click="getConnect()" type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div ng-if="currentUser.login!=null">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            Se déconnecter
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input ng-click="toDisconnect()" type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Disconnect">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

