<div class="panel panel-danger">
    <div class="panel-heading">Bonjour {{currentUserServiceRoot.login}}</div>
    <div class="panel-body">Part 1</div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">Bonjour {{currentUser.login}}</div>
    <div class="panel-body">Part 2</div>
</div>

    <h3>Mes espaces</h3>

<div class="btn-group-vertical" ng-repeat="m in currentUser.mySpacesDto track by $index">
    <button type="button" class="btn btn-danger" ng-click="getFiles($index)">{{m.name}}</button>
</div>

<ul ng-repeat="m in myFilesSelected">
    <li>
    {{m.name}}
    </li>
</ul>