<div class="mySpaceNavbarBorder">
<div ng-if="mode==0" class="mySpaceButtomCreate">
    <button type="button" class="btn btn-warning btn-lg btn-block" ng-click="displayForm()">New</button>
</div>

<div ng-if="mode==1">
    <div class="form-group">
        Nom :
        <input ng-model="mySpace.name" type="text" class="form-control">
        Description:
        <textarea ng-model="mySpace.description" type="text" class="form-control inputstl" rows="3"></textarea>
        <div class="mySpaceButtomCreate">
            <button type="button" class="btn btn-danger" ng-click="cancelForm()">Annuler</button>
            <button type="button" class="btn btn-warning" ng-click="createNewMySpace()">Créer</button>
        </div>
    </div>
</div>



<ul class="nav nav nav-stacked" ng-repeat="c in currentRootMySpaces">
    <li class="active">
        <a href="#" ng-click="selectMySpace(c.name)">{{c.name}}</a>
    </li>
</ul>
</div>