.mySpaceNavbarBorder{
    border: 3px orange groove;
}

.mySpaceDescriptionBorder{
    border: 3px black groove; 
}

.mySpaceButtomCreate{
    margin-top :5px;
    margin-right :2px;
    margin-left:2px;
    margin-bottom:5px;
}